apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-app-deployment
spec:
  # Task 3(e): Scale to 2 replicas for high availability
  replicas: 2
  selector:
    matchLabels:
      app: weather-app
  # Task 3(e): Rolling Update strategy
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: weather-app
    spec:
      containers:
      - name: weather-app
        # Task 3(c): Your image from DockerHub
        image: yojan62/weather-app:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 5000