apiVersion: v1
kind: Service
metadata:
  name: weather-app-service
spec:
  type: NodePort
  selector:
    app: weather-app
  ports:
    - port: 5000        # The internal port
      targetPort: 5000  # The container port
      nodePort: 30000   # The external port for browser access