name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install Dependencies
      run: pip install -r requirements.txt

    # -------------------------------
    # (a) SMOKE TEST
    # -------------------------------
    - name: Run Smoke Test
      run: python -m pytest tests/smoke_test.py -q

    # -------------------------------
    # (b) UNIT TEST
    # -------------------------------
    - name: Run Unit Test
      run: python -m pytest tests/unit_test.py -q

    # -------------------------------
    # (c) INTEGRATION TEST
    # -------------------------------
    - name: Run Integration Test
      run: python -m pytest tests/integration_test.py -q

    # -------------------------------
    # (d) BUILD DOCKER IMAGE
    # -------------------------------
    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/weather-ml-app:${{ github.sha }} .

    # -------------------------------
    # (e) CONTAINER TEST + PUSH
    # -------------------------------
    - name: Simple Container Test
      run: |
        container=$(docker run -d -p 5000:5000 ${{ secrets.DOCKERHUB_USERNAME }}/weather-ml-app:${{ github.sha }})
        sleep 5
        docker ps -a
        docker stop $container
        docker rm $container

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Push Image to DockerHub
      run: |
        docker tag ${{ secrets.DOCKERHUB_USERNAME }}/weather-ml-app:${{ github.sha }} \
                   ${{ secrets.DOCKERHUB_USERNAME }}/weather-ml-app:latest
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/weather-ml-app:latest